# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

OpenROV/Debug/*

*.atsln

*.atsuo

*.cppproj

OpenROV/Visual Micro/*

OpenROV_tests/.build/*

OpenRov/__vm/*
dist/

*.sdf
*.sln
*.opensdf
*.suo
*.vcxproj
*.filters

