# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

OpenROV/Debug/*

*.atsln

*.atsuo

*.cppproj

OpenROV/Visual Micro/*
OpenROV/Disabled/*

OpenROV_tests/.build/*

*.sdf
*.sln
*.opensdf
*.suo
*.vcxproj
*.filters

